*{
	margin: 0px;
}

body{
	background-color: #fff;
}

#apoc{
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
/*	top: 0px;*/
/*	left: 0px;*/
	overflow: hidden;
}

.char{
	color: #fff;
	background-color: #0f0;
	position: absolute;
}